html {
  margin: 0;
  padding: 0;
  background-color: seashell;
}

h1,
h2,
h3 {
  color: #6d7993;
}

ul {
  color: #96858f !important;
}

li {
  color: #96858f !important;
}

#button {
  margin-top: 30px;
}

#header {
  margin-top: 90px;
}

#about-title {
  padding-top: 20px;
}
.border {
  margin-left: 30px;
}
