body {
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

h1 {
  color: #c0b283;
}

ul {
  color: #373737 !important;
}

#button {
  margin-top: 30px;
}

#header {
  margin-top: 100px;
}

#about-title {
  padding-top: 20px;
}
