body {
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

h1 {
  color: #c0b283;
}

ul {
  color: #373737 !important;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
