body {
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

h1,
h2,
h3 {
  color: #c0b283;
}

ul {
  color: #373737 !important;
}

#button {
  margin-top: 30px;
}

#header {
  margin-top: 90px;
}

#about-title {
  padding-top: 20px;
}
.border {
  margin-left: 30px;
}
